<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Aqui você poderá adicionar todas as conexão com bancos de dados -->
		<add name="SqlServer" connectionString="Server=.\\SQLEXPRESS;Database=NorthWind;User Id=sa;Password=sql2022;Trusted_Connection=False; TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>